name: Web App Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read
  checks: write

env:
  SRH_TOKEN: example_token

jobs:
  test:
    strategy:
      matrix:
        node-version:
          - 24

    runs-on: ubuntu-latest

    services:
      redis:
        image: redis/redis-stack-server:6.2.6-v6
      srh:
        image: hiett/serverless-redis-http:latest
        env:
          SRH_MODE: env
          SRH_TOKEN: ${{ env.SRH_TOKEN }}
          SRH_CONNECTION_STRING: redis://redis:6379

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Run unit tests
        run: pnpm run test

      - name: Run integration tests
        run: pnpm run test:integration:ci
        env:
          SRH_URL: http://srh:80
          SRH_TOKEN: ${{ env.SRH_TOKEN }}
